html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    background-image: url(background-img.png);
    background-size: contain;
    box-sizing: border-box;
}

/*display-grid for main container*/

header {
    height: 300px;
}

.profile-info-wrapper, .proficiency-container, .skills-container, .projects-container, .education-container {
    border-radius: 24px;
    background: #fff;
}

.proficiency-heading, .skills-heading, .projects-heading, .education-heading {
    font-size: 33.8px;
    font-weight: 500;
}

/*Profile section*/
.profile-container {
    width: 1321px;
    height: 300px;
    margin: 50px auto; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
}

.profile-info-wrapper {
    width: 994px;
    height: 300px;
}

.profile-name {
    font-weight: 600;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 16px;
}
.project-details {
    margin-top: 0;
    font-weight: 400px;
    font-size: 22px;
    color: #5C5C5C;
    line-height: 151%;
}

.profile-info {
    width: 856px;
    height: 132px;
    margin: 0 auto;
}

/*profiency section*/
 .proficiency-container{
    width: 563px;
    height: 428px;
    font-size: 24px;
    padding: 0.5em 0.5em;
}

.proficiency-subheading-container {
    display: flex;
    justify-content: space-evenly;
}

.prof-details {
    display: flex;
    justify-content: space-between;
    line-height: 104%;
}

.prof-right {
 width: 321px;
 height: 179px;
}

.hidden-text {
    color: transparent;
}

.prof-left{
    width: 141px;
    height: 169px;
}
.prof-j, .prof-r, .prof-n, .prof-h {
    background: #4A8B70;
    border-radius: 7.26px;
} 
.prof-j {
    width: 317px;
    height: 26px;
}

.prof-r {
    width: 232px;
    height: 26px;
}
.prof-n {
    width: 113px;
    height: 26px;
}

.prof-h {
    width: 183px;
    height: 26px;
}

/*Skills section*/
.skills-container {
    padding: 0.5em 0.5em;
    width: 706px;
    height: 450px;
}

.skills-info {
    /*border: solid 2px black;*/
    width: 640px;
    height: 350px;
}

.skills-details {
    display: inline-block;
    background: #ECF4F1;
    padding: 8px 14px;
    border-radius: 30px;
    font-size: 22px;  
}

/*projects section*/
.projects-container {
    width: 1320px;
    height: 735px;
    font-size: 18px;   
}
.projects-heading {
    text-align: center;
    padding: 0.8em;
}

.projects-col-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.projects-col {
    border-radius: 29px;
    padding: 1em;
    width: 260px;
    height: 600;
    background: #E7F0EC;
}

.green {
    background: #4A8B70;
    color: #fff;
}

.projects-subheading, .projects-year, .education-subheading {
    font-size: 24px;
    font-weight: 500;
}

.projects-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.projects-icon {
    color: #DB8566;
}


/* Education section*/
.education-container {
    /*display: flex;
    flex-direction: column; 
    justify-content: space-between; */
    width: 994px;
    font-size: 18px;
}

.education-row {
    display: flex;
    justify-content: space-around;
    border-radius: 24px;
}

.education-info {
    width: 267px;
}

.education-details {
    width: 578px;
}