body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    background-image: url(background-img.png);
    background-size: contain;
}

/*Profile section*/
.profile-container {
    width: 1321px;
    height: 300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
}

.profile-info-wrapper {
    background: #fff;
    border-radius: 24px;
    width: 994px;
    height: 300px;
}

.profile-name {
    font-weight: 600;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 16px;
}
.project-details {
    margin-top: 0;
    font-weight: 400px;
    font-size: 22px;
    color: #5C5C5C;
    line-height: 151%;
}

.profile-info {
    width: 856px;
    height: 132px;
    margin: 0 auto;
}

