html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    background-image: url(background-img.png);
    background-size: contain;
    box-sizing: border-box;
}

/*display-grid for main container*/

header {
    height: 300px;
}
/*Profile section*/
.profile-container {
    width: 1321px;
    height: 300px;
    margin: 50px auto; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
}

.profile-info-wrapper {
    background: #fff;
    border-radius: 24px;
    width: 994px;
    height: 300px;
}

.profile-name {
    font-weight: 600;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 16px;
}
.project-details {
    margin-top: 0;
    font-weight: 400px;
    font-size: 22px;
    color: #5C5C5C;
    line-height: 151%;
}

.profile-info {
    width: 856px;
    height: 132px;
    margin: 0 auto;
}

/*profiency section*/
 .proficiency-container{
    border: 2px #fff solid;
    border-radius: 24px;
    background: #fff;
    width: 563px;
    height: 428px;
    font-size: 24px;
    padding: 0.5em 0.5em;
}

.proficiency-heading, .skills-heading {
    font-size: 33.8px;
    font-weight: 500;
}

.proficiency-subheading-container {
    display: flex;
    justify-content: space-evenly;
}

.prof-details {
    display: flex;
    justify-content: space-between;
    line-height: 104%;
}

.prof-right {
 width: 321px;
 height: 179px;
}

.hidden-text {
    color: transparent;
}

.prof-left{
    width: 141px;
    height: 169px;
}
.prof-j, .prof-r, .prof-n, .prof-h {
    background: #4A8B70;
    border-radius: 7.26px;
} 
.prof-j {
    width: 317px;
    height: 26px;
}

.prof-r {
    width: 232px;
    height: 26px;
}
.prof-n {
    width: 113px;
    height: 26px;
}

.prof-h {
    width: 183px;
    height: 26px;
}

/*Skills section*/
.skills-container {
    /*border: 2px solid black;*/
    border-radius: 24px;
    background: #fff;
    padding: 0.5em 0.5em;
    width: 706px;
    height: 450px;
}

.skills-info {
    /*border: solid 2px black;*/
    width: 640px;
    height: 350px;
}

.skills-details {
    display: inline-block;
    background: #ECF4F1;
    padding: 8px 14px;
    border-radius: 30px;
    font-size: 22px;  
}